body{
    display: flex;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor:default;
}

.attribution{
    font-size: 11px; 
    text-align: center;
}

.attribution > a{
    color: hsl(228, 45%, 44%);
    cursor: pointer;
    text-decoration: none;
}

.card{
    margin: auto;
    width: 350px;
    height: 480px;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 5px 5px hsl(0, 0%, 7%);
}

.card-illustration{
    width: 100%;
    margin-bottom: 20px;
}

.card-illustration > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-category{
    font-size: 12px;
    display: flex;
    background-color: hsl(47, 88%, 63%);
    width: 70px;
    height: 25px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 15px;
}

.card-published{
    font-size: 12px;
    margin-bottom: 20px;
    
}

.card-body>h1{
    font-weight: 800;
    margin-bottom: 20px;
}

.card-body>h1>a{
    font-size: 20px;
    cursor: pointer;
}

.card-body>h1>a:active{
    color: hsl(47, 88%, 63%);
}

.card-body>p{
    color: hsl(0, 0%, 50%);
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
}

.card-writer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
}
.card-writer > img{
    width: 40px;
    margin-right: 10px;
}